*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.a_logo{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.a_pesquisa{
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding-left: 20px;
    padding-top: 20px;
}
.a_line{
    margin: 10px auto;
    width: 90%;
    height: 2px;
    background-color: black;
}
input{
    border: none;
}
input::placeholder{
    font-size: 15px;
}
.a_box-collection{
    position: relative;
    margin-top: 50px;
    width: 450px;
    height: auto;
}
.box1_modelo{
    display: block;
    width: 100%;
}
.a_box1{
    position: absolute;
    bottom: 70px;
}
.a_box-collection2{
    padding-top: 20px;
    position: relative;
    width: 450px;
    height: auto;
}
.a_box2{
    position: absolute;
    bottom: 70px;
}
.a_box-collection3{
    padding-top: 20px;
    position: relative;
    width: 450px;
    height: auto;
}
.a_box3{
    position: absolute;
    bottom: 70px;
}
.a_best-seller{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}